<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
         
       <!--category name in dialog(File-New-Project...)-->
       <category
           name="coDoc"
           id="edu.pdx.svl.coDoc.cdc.wizard.category">
       </category>
       
       <!--wizard name in dialog(File-New-Project...)-->
       <!--the class is invoked when the "next" button is pressed.-->
       <wizard
           name="coDoc Project"
           icon="icons/coDoc.png"
           category="edu.pdx.svl.coDoc.cdc.wizard.category"
           class="edu.pdx.svl.coDoc.cdc.wizard.WizardMain"
           id="edu.pdx.svl.coDoc.cdc.wizard.WizardMain"
           project="true"
           finalPerspective="edu.pdx.svl.coDoc.cdc.perspective.Perspective">
	     <description>
	         Generate a new coDoc project through the wizard.
	     </description>
	     <selection
	         class="org.eclipse.core.resources.IResource">
	     </selection>
       </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="coDoc"
            icon="icons/coDoc.png"
            class="edu.pdx.svl.coDoc.cdc.perspective.Perspective"
            id="edu.pdx.svl.coDoc.cdc.perspective.Perspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <!--id is used in CDCEditor.java: "this.getSite().getPage().openEditor(this.getEditorInput(), CDCEditor.ID);"-->
      <editor
            launcher="edu.pdx.svl.coDoc.cdc.editor.CDCEditor"
            extensions="cdc,pdf"
            default="false"
            icon="icons/coDoc.png"
            id="edu.pdx.svl.coDoc.cdc.editor.CDCEditor"
            name="CDC Editor">
	            <contentTypeBinding contentTypeId="edu.pdx.svl.coDoc.cdt.core.cSource"/>
	            <contentTypeBinding contentTypeId="edu.pdx.svl.coDoc.cdt.core.cxxSource"/>
	            <contentTypeBinding contentTypeId="edu.pdx.svl.coDoc.cdt.core.cxxHeader"/>
	            <contentTypeBinding contentTypeId="edu.pdx.svl.coDoc.cdt.core.cHeader"/>
      </editor>
      <editor
            class="edu.pdx.svl.coDoc.cdc.editor.EntryEditor"
            icon="icons/coDoc.png"
            id="edu.pdx.svl.coDoc.cdc.editor.EntryEditor"
            name="Entry Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="coDoc"
            id="edu.pdx.svl.coDoc.cdc.commands.category">
      </category>
      <command
            categoryId="edu.pdx.svl.coDoc.cdc.commands.category"
            description="Add categories."
            id="edu.pdx.svl.coDoc.cdc.commands.AddCategory"
            name="Add Category">
      </command>
      <command
            categoryId="edu.pdx.svl.coDoc.cdc.commands.category"
            description="Add links between selected code and specification."
            id="edu.pdx.svl.coDoc.cdc.commands.AddReference"
            name="Add Link">
      </command>
      <command
            categoryId="edu.pdx.svl.coDoc.cdc.commands.category"
            description="Delete existed link."
            id="edu.pdx.svl.coDoc.cdc.commands.DeleteReference"
            name="Delete Link">
      </command>
      <command
            categoryId="edu.pdx.svl.coDoc.cdc.commands.category"
            description="Edit existed link."
            id="edu.pdx.svl.coDoc.cdc.commands.EditReference"
            name="Edit Link">
      </command>
      <command
            categoryId="edu.pdx.svl.coDoc.cdc.commands.category"
            description="Set preferences."
            id="edu.pdx.svl.coDoc.cdc.commands.Preferences"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.pdx.svl.coDoc.cdc.commands.AddCategory"
            class="edu.pdx.svl.coDoc.cdc.handles.AddCategory">
      </handler>
      <handler
            commandId="edu.pdx.svl.coDoc.cdc.commands.AddReference"
            class="edu.pdx.svl.coDoc.cdc.handles.AddReference">
      </handler>
      <handler
            commandId="edu.pdx.svl.coDoc.cdc.commands.DeleteReference"
            class="edu.pdx.svl.coDoc.cdc.handles.DeleteReference">
      </handler>
      <handler
            commandId="edu.pdx.svl.coDoc.cdc.commands.EditReference"
            class="edu.pdx.svl.coDoc.cdc.handles.EditReference">
      </handler>
      <handler
            commandId="edu.pdx.svl.coDoc.cdc.commands.Preferences"
            class="edu.pdx.svl.coDoc.cdc.handles.Preferences">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--M1+M3+F = ALT+CTRL+F-->
      <!--contextId = org.eclipse.ui.textEditorScope-->
      <key
            commandId="edu.pdx.svl.coDoc.cdc.commands.AddCategory"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F">
      </key>
      <key
            commandId="edu.pdx.svl.coDoc.cdc.commands.AddReference"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+A">
      </key>
      <key
            commandId="edu.pdx.svl.coDoc.cdc.commands.DeleteReference"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+D">
      </key>
      <key
            commandId="edu.pdx.svl.coDoc.cdc.commands.EditReference"
            contextId="edu.pdx.svl.coDoc.cdc.editor.EntryEditor.contextid"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+E">
      </key>
      <key
            commandId="edu.pdx.svl.coDoc.cdc.commands.Preferences"
            contextId="edu.pdx.svl.coDoc.cdc.editor.EntryEditor.contextid"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="edu.pdx.svl.coDoc.cdc.commands.AddCategory"
               style="push">
         </command>
         <command
               commandId="edu.pdx.svl.coDoc.cdc.commands.AddReference"
               style="push">
         </command>
         <command
               commandId="edu.pdx.svl.coDoc.cdc.commands.DeleteReference"
               style="push">
         </command>
         <command
               commandId="edu.pdx.svl.coDoc.cdc.commands.EditReference"
               style="push">
            <visibleWhen
                  checkEnabled="false">
              <reference
                    definitionId="edu.pdx.svl.coDoc.cdt.definitions.isEntryEditorActive">
              </reference>
            </visibleWhen>
         </command>
         <command
               commandId="edu.pdx.svl.coDoc.cdc.commands.Preferences"
               style="push">
            <visibleWhen
                  checkEnabled="false">
              <reference
                    definitionId="edu.pdx.svl.coDoc.cdt.definitions.isEntryEditorActive">
              </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.pdx.svl.coDoc.cdc.toolbars">
            <command
                  commandId="edu.pdx.svl.coDoc.cdc.commands.AddCategory"
                  icon="icons/cat_add.png"
                  style="push"
                  tooltip="Add Category"
                  id="edu.pdx.svl.coDoc.cdc.toolbars.AddCategory">
            </command>
            <command
                  commandId="edu.pdx.svl.coDoc.cdc.commands.AddReference"
                  icon="icons/ref_add.png"
                  style="push"
                  tooltip="Add Link"
                  id="edu.pdx.svl.coDoc.cdc.toolbars.AddReference">
            </command>
            <command
                  commandId="edu.pdx.svl.coDoc.cdc.commands.DeleteReference"
                  icon="icons/ref_delete.png"
                  style="push"
                  tooltip="Delete Link"
                  id="edu.pdx.svl.coDoc.cdc.toolbars.DeleteReference">
            </command>
            <command
                  commandId="edu.pdx.svl.coDoc.cdc.commands.EditReference"
                  icon="icons/ref_edit.png"
                  style="push"
                  tooltip="Edit Link"
                  id="edu.pdx.svl.coDoc.cdc.toolbars.EditReference">
            </command>
            <command
                  commandId="edu.pdx.svl.coDoc.cdc.commands.Preferences"
                  icon="icons/preference.png"
                  style="push"
                  tooltip="Preference"
                  id="edu.pdx.svl.coDoc.cdc.toolbars.Preferences">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="coDoc"
               mnemonic="D"
               id="edu.pdx.svl.coDoc.cdc.menus">
            <command
                  commandId="edu.pdx.svl.coDoc.cdc.commands.AddReference"
                  mnemonic="A"
                  id="edu.pdx.svl.coDoc.cdc.menus.AddReference">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="edu.pdx.svl.coDoc.cdt.definitions.isEntryEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="edu.pdx.svl.coDoc.cdc.commands.DeleteReference"
                  mnemonic="D"
                  id="edu.pdx.svl.coDoc.cdc.menus.DeleteReference">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            id="edu.pdx.svl.coDoc.contextMenu">
         <menu
               label="coDoc"
               path="additions"
               id="edu.pdx.svl.coDoc.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="edu.pdx.svl.coDoc.cdc.actions.Open"
               enablesFor="2"
               id="edu.pdx.svl.coDoc.cdc.actions.Open"
               label="Open"
               menubarPath="edu.pdx.svl.coDoc.menu/group1">
         </action>
         <action
               class="edu.pdx.svl.coDoc.cdc.actions.Help"
               enablesFor="*"
               id="edu.pdx.svl.coDoc.cdc.actions.Help"
               label="Help"
               menubarPath="edu.pdx.svl.coDoc.menu/group2">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="edu.pdx.svl.coDoc.cdt.definitions.isEntryEditorActive">
         <with variable="activeEditorId">
            <equals value="edu.pdx.svl.coDoc.cdc.editor.EntryEditor"></equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <!--id is used in CDCEditor.java and PDFEditor.java: "currentContext = service.activateContext(CONTEXT_ID);"-->
      <context
            id="edu.pdx.svl.coDoc.cdc.editor.EntryEditor.contextid"
            name="Entry Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
