<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="coDoc"
            id="edu.pdx.svl.coDoc.views.category">
      </category>
      <view
            allowMultiple="false"
            category="edu.pdx.svl.coDoc.views.category"
            class="edu.pdx.svl.coDoc.refexp.referenceexplorer.ReferenceExplorerView"
            icon="icons/s.gif"
            id="edu.pdx.svl.coDoc.refexp.referenceexplorer.ReferenceExplorerView"
            name="Reference Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <view
               id="edu.pdx.svl.coDoc.refexp.referenceexplorer.ReferenceExplorerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="edu.pdx.svl.coDoc.contextMenu"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="edu.pdx.svl.coDoc.menu"
               label="coDoc"
               path="additions">
            <groupMarker
                  name="coDoc.groupMarker1">
            </groupMarker>
            <groupMarker
                  name="coDoc.groupMarker2">
            </groupMarker>
         </menu>
         <action
               class="edu.pdx.svl.coDoc.refexp.popup.actions.AddReference"
               enablesFor="1"
               id="edu.pdx.svl.coDoc.refexp.popup.actions.AddReference"
               label="Add Reference"
               menubarPath="edu.pdx.svl.coDoc.menu/group1">
         </action>
         <action
               class="edu.pdx.svl.coDoc.refexp.popup.action.DeleteReference"
               enablesFor="1"
               id="edu.pdx.svl.coDoc.refexp.popup.action.DeleteReference"
               label="Delete Reference"
               menubarPath="edu.pdx.svl.coDoc.menu/group2">
         </action>
         <action
               class="edu.pdx.svl.coDoc.refexp.popup.actions.Help"
               enablesFor="1"
               id="edu.pdx.svl.coDoc.refexp.popup.actions.Help"
               label="Help"
               menubarPath="edu.pdx.svl.coDoc.menu/group2">
         </action>
         <action
               class="edu.pdx.svl.coDoc.refexp.popup.actions.Preferences"
               enablesFor="1"
               id="edu.pdx.svl.coDoc.refexp.popup.actions.Preferences"
               label="Preferences"
               menubarPath="edu.pdx.svl.coDoc.menu/group2">
         </action>
         <action
               class="edu.pdx.svl.coDoc.refexp.popup.actions.SelectPDF"
               enablesFor="1"
               id="edu.pdx.svl.coDoc.refexp.popup.actions.SelectPDF"
               label="Select PDF"
               menubarPath="edu.pdx.svl.coDoc.menu/group2">
         </action>
         <action
               class="edu.pdx.svl.coDoc.refexp.popup.actions.ViewReferencesForSelection"
               enablesFor="1"
               id="edu.pdx.svl.coDoc.refexp.popup.actions.ViewReferencesForSelection"
               label="View References For Selection"
               menubarPath="edu.pdx.svl.coDoc.menu/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
