<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="coDoc"
            id="edu.pdx.svl.coDoc.cdc.view.category">
      </category>
      <view
            allowMultiple="false"
            name="AST View"
            icon="icons/sample.gif"
            category="edu.pdx.svl.coDoc.cdc.view.category"
            class="edu.pdx.svl.coDoc.astView.view.DOMAST"
            id="edu.pdx.svl.coDoc.astView.view.DOMAST">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
