<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <!--id is used in PDFEditor.java: "this.getSite().getPage().openEditor(this.getEditorInput(), PDFEditor.ID);"-->
      <editor
            class="edu.pdx.svl.coDoc.poppler.editor.PDFEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="pdf"
            default="true"
            icon="icons/document-pdf.png"
            id="edu.pdx.svl.coDoc.poppler.editor.PDFEditor"
            name="PDF Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
            base-type="org.eclipse.core.runtime.text"
            id="edu.pdx.svl.coDoc.poppler.pdfFile"
            name="PDF File"
            file-extensions="pdf"
            priority="high"/>
   </extension> 
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="coDoc"
            id="edu.pdx.svl.coDoc.commands.category">
      </category>
      <command
            categoryId="edu.pdx.svl.coDoc.commands.category"
            defaultHandler="edu.pdx.svl.coDoc.handlers.ForwardSearchHandler"
            description="Toggles a forward search in all open pdf documents"
            id="PDFViewer.command.forwardSearchAction"
            name="Forward search">
      </command>
      <command
            categoryId="edu.pdx.svl.coDoc.commands.category"
            defaultHandler="edu.pdx.svl.coDoc.handlers.ZoomHandler"
            description="Set the zoom level"
            id="PDFViewer.command.Zoom"
            name="Zoom">
         <!--id is used in ZoomHandler.java: "String msg = event.getParameter(PARAMATER);"-->
         <commandParameter
               id="PDFViewer.command.parameter.zoom"
               name="zoomlevel"
               optional="false">
         </commandParameter>
      </command>
      <!--id is used in ToggleLinkHighlightHandler.java: "Command command = service.getCommand(COMMAND_ID);"-->
      <command
            categoryId="edu.pdx.svl.coDoc.commands.category"
            defaultHandler="edu.pdx.svl.coDoc.handlers.ToggleLinkHighlightHandler"
            id="PDFViewer.command.ToggleLinkHighlight"
            name="Toggle highlight">
         <state
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
               <parameter
                     name="default"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="PDFViewer.command.forwardSearchAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F">
      </key>
      <key
            commandId="PDFViewer.command.Zoom"
            contextId="PDFViewer.editors.contextid"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="+">
         <parameter
               id="PDFViewer.command.parameter.zoom"
               value="+0.1">
         </parameter>
      </key>
      <key
            commandId="PDFViewer.command.Zoom"
            contextId="PDFViewer.editors.contextid"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="-">
         <parameter
               id="PDFViewer.command.parameter.zoom"
               value="-0.1">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="PDFViewer.command.forwardSearchAction"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="PDFViewer.toolbar">
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/magnifier--minus.png"
                  style="push"
                  tooltip="Zoom out">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="-0.1">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/arrow-move.png"
                  style="push"
                  tooltip="Fit page to window">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="fit">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/arrow-resize.png"
                  style="push"
                  tooltip="Fit page to window width">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="fitH">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/magnifier--plus.png"
                  style="push"
                  tooltip="Zoom in">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="+0.1">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.ToggleLinkHighlight"
                  icon="icons/chain--pencil.png"
                  style="toggle"
                  tooltip="Toggle link highlighting">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="coDoc"
            id="edu.pdx.svl.coDoc.views.category">
      </category>
      <view
            name="Property View"
            icon="icons/propertyview.gif"
            category="edu.pdx.svl.coDoc.views.category"
            class="edu.pdx.svl.coDoc.views.PropertyView"
            id="edu.pdx.svl.coDoc.views.PropertyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="PDFViewer.definitions.isPDFEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="de.vonloesch.pdf4eclipse.editors.PDFEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <!--id is used in CDCEditor.java and PDFEditor.java: "currentContext = service.activateContext(CONTEXT_ID);"-->
      <context
            id="PDFViewer.editors.contextid"
            name="PDF viewer"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
