<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="coDoc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="coDoc Perspective"
            class="coDoc.Perspective"
            id="coDoc.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="coDoc.application"
            name="coDoc">
         <property
               name="windowImages"
               value="icons/alt_window_16.png,icons/alt_window_32.png">
         </property>
         <property
               name="appName"
               value="coDoc">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,360,585,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,380,581,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="coDoc"
            id="coDoc.category">
      </category>
      <command
            name="Online Help"
            description="Online Help"
            categoryId="coDoc.category"
            id="coDoc.onlinehelp">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="coDoc.onlinehelp"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
</plugin>
