<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         
       <!--category name in dialog(File-New-Project...)-->
       <category
           name="coDoc"
           id="edu.pdx.svl.coDocWizard.category">
       </category>
       
       <!--wizard name in dialog(File-New-Project...)-->
       <!--the class is invoked when the "next" button is pressed.-->
       <wizard
           name="coDoc Project"
           icon="icons/coDoc.png"
           category="edu.pdx.svl.coDocWizard.category"
           class="edu.pdx.svl.coDocWizard.WizardMain"
           id="edu.pdx.svl.coDocWizard.wizard"
           project="true"
           finalPerspective="edu.pdx.svl.coDoc.perspectives.Perspective">
	     <description>
	         Generate a new coDoc project through the wizard.
	     </description>
	     <selection
	         class="org.eclipse.core.resources.IResource">
	     </selection>
       </wizard>
   </extension>

</plugin>
